:root {
    --white-main: #FFFFFF;
    --grey-secondary: #C0C0C0;
    --button-blue: #167BF7;
    --background-color: #00030C;
    --font-main: 'Inter';
    --button-blue-effect: #3c92fa;
}

body {
    background-color: var(--background-color);
    color: var(--white-main);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--button-blue);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.button__secondary {
    background-color: transparent;
    border: 2px solid var(--white-main);
}

.container__notice {
    font-size: 12px;
    color: var(--grey-secondary);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

.secondary__image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-weight: 700;
    font-size: 48px;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--grey-secondary);
}

.secondary__button {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2em;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
    color: var(--white-main);
}

.list__item {
    font-size: 32px;
    color: var(--white-main);
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.link__list a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.footer__text {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.link__list a:hover {
    color: var(--button-blue);
}

.link__list a:active {
    color: var(--button-blue-effect);
}

.container__button a:hover {
    background-color: var(--button-blue-effect);
    color: var(--background-color);
}